<div class="home-area">
  <div class="category-area">
    <label>{{ 'select_category_text' | translate }}</label>
    <div class="category-items">
      <app-category
        (clickedCategory)="getClickedCategory($event)"
        [categoryInfo]="{
          id: 0,
          name: 'Todas as Categorias',
          image: '../../../assets/food-and-restaurant.png'
        }"
        [activeCategory]="activeCategory"
      >
      </app-category>
      <app-category
        (clickedCategory)="getClickedCategory($event)"
        *ngFor="let category of categories.data"
        [categoryInfo]="category"
        [activeCategory]="activeCategory"
      ></app-category>
    </div>
  </div>
  <div class="products-area">
    <app-product-item
      class="product"
      *ngFor="let product of products.data"
      [product]="product"
      (clickedProduct)="getClickedProduct(product)"
      #productItem
    >
    </app-product-item>
  </div>
  <div class="pagination-area">
    <div
      class="page"
      *ngFor="let page of totalPages; let i = index"
      (click)="handlePageClick(i)"
      [style.background-color]="activePage == i + 1 ? '#ccc' : '#fff'"
    >
      {{ i + 1 }}
    </div>
  </div>
</div>
<app-modal
  [product]="product"
  [modalStatus]="modalStatus"
  (cancelBtnClicked)="cancelBtnClicked()"
></app-modal>
