<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1 class="title">Apagar produtos</h1>
      <div class="error-msg" *ngIf="error !== ''">{{ error }}</div>

      Selecione um produto:
      <select
        formControlName="productId"
        [ngClass]="this.helperService.applyCssError(form, 'productId')"
      >
        <option [value]="product.id" *ngFor="let product of products">
          {{ product.name }}
        </option>
      </select>
      <app-error
        [showError]="this.helperService.verifyValidTouched(form, 'productId')"
        errorMsg="Preencha corretamente a categoria"
      ></app-error>
      <button class="submit">Salvar</button>
    </form>
  </div>
  