<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1 class="title">{{ 'delete_products' | translate }}</h1>
      <div class="error-msg" *ngIf="error !== ''">{{ error }}</div>

      {{ 'select_product' | translate }}:
      <select
        formControlName="productId"
        [ngClass]="this.helperService.applyCssError(form, 'productId')"
      >
        <option [value]="product.id" *ngFor="let product of products">
          {{ product.name }}
        </option>
      </select>
      <app-error
        [showError]="this.helperService.verifyValidTouched(form, 'productId')"
        errorMsg="{{ 'invalid_category' | translate }}"
      ></app-error>
      <button class="submit">{{ 'save' | translate }}</button>
    </form>
  </div>
  