<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 class="title">{{ "signup_page" | translate }}</h1>
    <div class="error-msg" *ngIf="error !== ''">{{ error }}</div>
    <input
      type="text"
      placeholder="Digite seu nome aqui"
      formControlName="name"
      [ngClass]="this.helperService.applyCssError(form, 'name')"
    />
    <app-error
      [showError]="this.helperService.verifyValidTouched(form, 'name')"
      errorMsg="Preencha corretamente o nome"
    ></app-error>

    <input
      type="text"
      placeholder="{{ 'your_email' | translate }}"
      formControlName="email"
      [ngClass]="this.helperService.applyCssError(form, 'email')"
    />
    <app-error
      [showError]="this.helperService.verifyValidTouched(form, 'email')"
      errorMsg="Preencha corretamente o email"
    ></app-error>

    <input
      type="password"
      placeholder="{{ 'your_password' | translate }}"
      formControlName="password"
      [ngClass]="this.helperService.applyCssError(form, 'password')"
    />
    <app-error
      [showError]="this.helperService.verifyValidTouched(form, 'password')"
      errorMsg="Preencha corretamente a senha"
    ></app-error>

    Selecione uma função:
    <select formControlName="roleId">
      <option [value]="role.id" *ngFor="let role of roles">
        {{ role.name }}
      </option>
    </select>
    <button>Atualizar</button>
  </form>
</div>
