<div class="modal-area">
    <div class="modal-product">
        <div class="modal-top">
            <div class="modal-img"><img src="../../../../assets/teste_img.jpg"></div>
            <div class="modal-info">
                <div class="modal-info-top">
                    <div class="modal-title">Torta de Chocolate</div>
                    <div class="modal-desc">algo, outro, tipo</div>
                </div>
                <div class="modal-info-bottom">
                    <div class="quantity-area">
                        <div class="minus-btn"><img src="../../../../assets/minus.png" (click)="handleClick('-')"></div>
                        <div class="quantity">{{ qt }}</div>
                        <div class="plus-btn"><img src="../../../../assets/plus.png" (click)="handleClick('+')"></div>
                    </div>
                    <div class="price-area">R$ {{ product }}</div>
                </div>
            </div>
        </div>
        <div class="modal-bottom">
            <div class="cancel-btn default-btn" (click)="cancel()">Cancelar</div>
            <div class="add-cart-btn default-btn">Adicionar ao Carrinho</div>
        </div>
    </div>
</div>
