<div class="container">
  <div class="menu">
    <div class="menu-item"><a href="/"><img src="../assets/store.png"></a></div>
    <div class="menu-item"><a href="/orders"><img src="../assets/order.png"></a></div>
    <div class="menu-item"><a href="/profile"><img src="../assets/profile.png"></a></div>
  </div>
  <div class="content">
    <div class="header">
      <div class="logo-area"><img src="../assets/logo.png"></div>
      <input type="text" 
        class="search-input" 
        placeholder="Digite um produto..."
        [ngStyle]="{ width: inputActive ? '300px' : '0px' }"
        (focus)="handleInputFocus()"
        (blur)="handleInputBlur()">
    </div>
    <div><router-outlet></router-outlet></div>
  </div>
  <div class="cart">
    <div class="cart-header"><img src="../assets/cart.png"> Meu Carrinho (0)</div>
  </div>
</div>