<div class="container">
  <div class="menu">
    <div class="menu-item" tooltip="{{ 'store' | translate }}" placement="right" [showDelay]="200">
      <a routerLink="/" routerLinkActive="active" 
      [routerLinkActiveOptions]="{ exact: true }"><img src="../assets/store.png"></a>
    </div>
    <div class="menu-item" tooltip="{{ 'orders' | translate }}" placement="right" [showDelay]="200" 
    *ngIf="this.roleVerification(['User', 'Admin'])">
      <a routerLink="/orders" routerLinkActive="active"><img src="../assets/order.png"></a>
    </div>
    <div class="menu-item" tooltip="{{ 'profile' | translate }}" placement="right" [showDelay]="200" 
    *ngIf="this.roleVerification(['User', 'Admin'])">
      <a routerLink="/profile" routerLinkActive="active"><img src="../assets/profile.png"></a>
    </div>
    <div class="menu-item" tooltip="{{ 'admin' | translate }}" placement="right" [showDelay]="200"
    *ngIf="this.roleVerification(['Admin'])">
      <a routerLink="/admin/" routerLinkActive="active"><img src="../assets/adm.png"></a>
    </div>
  </div>
  <div class="content">
    <div class="header">
      <div class="logo-area"><img src="../assets/logo.png"></div>
      <input type="text"
        class="search-input" 
        placeholder="{{ 'search_input_placeholder' | translate }}..."
        [(ngModel)]="searchInput"
        (ngModelChange)="handleSearchChange($event)"
        [ngStyle]="{ width: inputActive ? '300px' : '0px' }"
        (focus)="handleInputFocus()"
        (blur)="handleInputBlur()">
    </div>
    
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>

  <div style="position: absolute; bottom: 0; left: 0;">
    <div>{{ language }}</div>
    <div (click)="switchLanguage('en')">{{ 'english' | translate }}</div>
    <div (click)="switchLanguage('pt')">{{ 'portuguese' | translate }}</div>
  </div>

  <div class="cart">
    <div class="cart-header" (click)="handleCartClick()">
      <div class="cart-header-left">
        <img src="../assets/cart.png">{{ 'my_cart' | translate }} ({{ cart.length }})
      </div>
      <div class="cart-header-right" [ngStyle]="{ display: clicked ? 'block' : 'none'}">
        <img src="../assets/down.png">
      </div>
    </div>
    <div class="cart-body" [ngStyle]="{ display: clicked ? 'block' : 'none' }">
      <app-cart-product *ngFor="let product of cart" [product]="product"></app-cart-product>
    </div>
  </div>
</div>