<div class="container">
  <div class="pagination">
    <div class="page">{{ page }}</div>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 class="title">{{ "signup_page" | translate }}</h1>
    <div class="error-msg" *ngIf="error !== ''">{{ error }}</div>
    <div
      class="input-area"
      [ngClass]="{
        'first-group': page !== 1
      }"
    >
      <input
        type="text"
        placeholder="{{ 'type_your_name' | translate }}"
        formControlName="name"
        [ngClass]="this.helperService.applyCssError(form, 'name')"
      />
      <app-error
        [showError]="this.helperService.verifyValidTouched(form, 'name')"
        errorMsg="{{ 'invalid_username' | translate }}"
      ></app-error>
    </div>
    <div
      class="input-area"
      [ngClass]="{
        'first-group': page !== 1
      }"
    >
      <input
        type="text"
        placeholder="{{ 'your_email' | translate }}"
        formControlName="email"
        [ngClass]="this.helperService.applyCssError(form, 'email')"
      />
      <app-error
        [showError]="this.helperService.verifyValidTouched(form, 'email')"
        errorMsg="{{ 'invalid_email' | translate }}"
      ></app-error>
    </div>

    <div
      class="input-area"
      [ngClass]="{
        'first-group': page !== 1
      }"
    >
      <input
        type="password"
        placeholder="{{ 'your_password' | translate }}"
        formControlName="password"
        [ngClass]="this.helperService.applyCssError(form, 'password')"
      />
      <app-error
        [showError]="this.helperService.verifyValidTouched(form, 'password')"
        errorMsg="{{ 'invalid_password' | translate }}"
      ></app-error>
    </div>
    <div
      class="input-area"
      [ngClass]="{
        'first-group': page !== 1
      }"
    >
      <input
        type="password"
        placeholder="{{ 'confirm_password' | translate }}"
        formControlName="confirmPassword"
      />
    </div>

    <div
      class="input-area"
      [ngClass]="{
        'second-group': page !== 2
      }"
    >
      {{ 'select_role' | translate }}:
      <select
        formControlName="roleId"
        [ngClass]="this.helperService.applyCssError(form, 'roleId')"
      >
        <option [value]="role.id" *ngFor="let role of roles">
          {{ role.name }}
        </option>
      </select>
      <app-error
        [showError]="this.helperService.verifyValidTouched(form, 'roleId')"
        errorMsg="{{ 'invalid_role' | translate }}"
      ></app-error>
    </div>

    <div class="controls">
      <div class="previous" (click)="handlePrevClick()">
        <button
          [ngClass]="{
            disabled: page - 1 < 1
          }"
        >
          {{ 'previous' | translate }}
        </button>
      </div>
      <div class="next" (click)="handleNextClick()">
        <button
          [ngClass]="{
            disabled: page + 1 > pages
          }"
        >
          {{ 'next' | translate }}
        </button>
      </div>
    </div>

    <div class="input-area">
      <button>{{ "signup" | translate }}</button>
    </div>
  </form>
</div>
