<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 class="title">{{ 'create_product_page' | translate }}</h1>
    <div class="error-msg" *ngIf="error !== ''">{{ error }}</div>
    <input
      type="text"
      placeholder="{{ 'type_product_name' | translate }}"
      formControlName="name"
      [ngClass]="this.helperService.applyCssError(form, 'name')"
    />
    <app-error
      [showError]="this.helperService.verifyValidTouched(form, 'name')"
      errorMsg="{{ 'invalid_product_name' | translate }}"
    ></app-error>

    <input
      type="text"
      placeholder="{{ 'type_product_price' | translate }}"
      formControlName="price"
      [ngClass]="this.helperService.applyCssError(form, 'price')"
    />
    <app-error
      [showError]="this.helperService.verifyValidTouched(form, 'price')"
      errorMsg="{{ 'invalid_price' | translate }}"
    ></app-error>

    <input
      type="file"
      multiple
      class="fileInput"
      (change)="inputFileChange($event)"
    />

    {{ 'select_category' | translate }}:
    <select
      formControlName="categoryId"
      [ngClass]="this.helperService.applyCssError(form, 'categoryId')"
    >
      <option [value]="category.id" *ngFor="let category of categories">
        {{ category.name }}
      </option>
    </select>
    <app-error
      [showError]="this.helperService.verifyValidTouched(form, 'categoryId')"
      errorMsg="{{ 'invalid_category' | translate }}"
    ></app-error>
    <button class="submit">{{ 'save' | translate }}</button>
  </form>
</div>
