<div class="container">
    <form>
        <h1 class="title">Login</h1>
        <div class="input-area">
            <input type="text" placeholder="{{ 'your_email' | translate }}">
        </div>
        <div class="input-area">
            <input type="text" placeholder="{{ 'your_password' | translate }}">
        </div>
        <div class="rememberme">
            <input type="checkbox"> {{ 'remember_me' | translate }}
        </div>
        <div class="input-area">
            <button>{{ 'signin_button' | translate }}</button>
        </div>
        <div class="options-area">
           <a href="">{{ 'forgot_password' | translate }}?</a>
           <a href="">{{ 'create_account' | translate }}</a>
        </div>
    </form>
</div>
